# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/

# Editor directories and files
.vscode/
.idea/
*.swp

# Test cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Logs
*.log

# Ignore local repositories created by this demo
demo-repo/
